---
layout: default
title: Home
---

<div class="posts">
  {% for post in site.pt reversed %}
    {% assign currentdate = post.date | date: "%Y" %}
    {% if currentdate != date %}
      <h3 id="y{{currentdate}}">{{ currentdate }}</h3>
      {% assign date = currentdate %}
    {% endif %}
    <article>
      <h4>
        <small>{{ post.date | date_to_string }}</small>
        <a href="{{ post.url }}">{{ post.title }}</a>
      </h4>
    </article>
  {% endfor %}
  <small>Fala inglês? Veja também meus <a href="/">posts em inglês</a></small>
</div>
