---
layout: default
title: Home
---

<div class="posts">
  <ul class="related-posts">
  {% for post in site.pt reversed %}
    {% assign currentdate = post.date | date: "%Y" %}
    {% if currentdate != date %}
      <li class="year-section"><h2 id="y{{currentdate}}">{{ currentdate }}</h2></li>
      {% assign date = currentdate %}
    {% endif %}
    <li>
      <h3>
        <a href="{{ post.url }}">
          {{ post.title }}
          <small>{{ post.date | date_to_string }}</small>
        </a>
      </h3>
    </li>
    {% endfor %}
  </ul>
  <small>Fala inglês? Veja também meus <a href="/">posts em inglês</a></small>
</div>
