---
layout: default
profile: true
---

<div id="search-page" ng-controller="SearchController">

  <input id="site_search" type="text" placeholder="Search in the blog" ng-model="query">

  <ul id="post-list">
    <li ng-repeat="post in results" ng-show="results.length > 0">
        <a href='[[post.url]]'><aside class="dates">[[post.date]]</aside></a>
        <a href='[[post.url]]'>[[post.title]] <h2>[[post.description]]</h2></a>
    </li>
    <p ng-show="results.length == 0" align="center">No posts found.</p>
  </ul>

</div>
