<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>createMarkedFile</key>
	<false/>
	<key>sheetClusters</key>
	<array>
		<array>
			<string>2015-07-19-o-que-eu-aprendi-sobre-trabalhare-em-casa.md</string>
		</array>
		<array>
			<string>Untitled.md</string>
		</array>
		<array>
			<string>2015-07-20-criando-um-mediaserver-com-rpi.md</string>
		</array>
	</array>
</dict>
</plist>
